body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  h1 {
    margin-top: 50px;
    text-align: center;
    color: #00447c;
    text-shadow: 2px 2px 2px #ccc;
    font-size: 36px;
  }
  
  form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px #aaa;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #00447c;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background-color: #00447c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #00345b;
  }
  